# Ignore unwanted folders
data/temp/
logs/

*.pyc
.vscode
output
build
tensorboard_3d
screenshots

# Backups
*.zip

# Build artifacts
__pycache__/
*.pyc
*.so
*.egg-info/
build/
dist/

# Personal / debug folders
debug_masks_instances/
old_scripts/
istruzioni/
samuele/
